body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      
      h1 {
        text-align: center;
        background-color: #0099ff;
        color: #fff;
        padding: 20px;
        margin: 0;
      }
      
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }
      
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      
      th, td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
      }
      
      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }
      
      tr:hover {
        background-color: #f2f2f2;
      }
      
      .bestOption {
        background-color: #c1ffc1;
      }

      body p{
        font-weight: bold;
        font-size: 1.4rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;

      }

      form{
        margin: 20px 0px 20px 20px
        
      }