*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header{
  background-color: black;

}

.logo{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:white;
  font-size: 26px;
  display: flex;
  
}

h2 span{
  font-family: 'Dancing Script', cursive;
}

.logo img{
  width: 50px;
  height: 40px;
  margin-left: 10px;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;

}

ul{
  display: flex;
  margin-left: 20px;

}

a{
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#ccc;
  font-size: 20px;
  font-weight: 100;
  margin-left: 40px;
}
/* fin header */

/* hero */
.imgHero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .9)), url("../img/desk.jpg");
    min-height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.textHero h1{
  text-align: center;
  font-size: 50px;
  color: #fff;
  padding: 20%;
  font-family: 'Chakra Petch', sans-serif;
}

  /* contenedor de seccion items */


.contenedor{
  max-width: 1400px;
  /* height: 700px; */
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  contain: paint;
  margin-bottom: 70px;
  margin-top: 40px;
}

  /* items */
    .contenedorItems{
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
      grid-gap:30px;
      grid-row-gap: 30px;
      width: 100%;
      transition: .3s;
  }

  .item{
      max-width: 200px;
      margin: auto;
      border: 1px solid #c0c0c0;
      border-radius: 10px;
      padding: 20px;
      transition: .3s;
  }

    .imgItem{
      width: 100%;
  }
  
  .item:hover{
      box-shadow: 0 0 10px #00000031;
      scale: 1.05;
  }

  .tituloItem{
      display: block;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
  }

  .precioItem{
      display: block;
      text-align: center;
      font-weight: bold;
      font-size: 22px;
  }
  
  .btnItem{
      display: block;
      margin: 10px auto;
      border: none;
      background-color: black;
      color: #fff;
      padding: 5px 15px;
      border-radius: 5px;
      cursor: pointer;
  }

  /* seccion carrito */
  .carrito{
      border: 1px solid #666;
      width: 35%;
      margin-top: 30px;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: auto;
      position: sticky !important;
      top: 0;
      transition: .3s;
      
      margin-right: -100%;
      opacity: 0;
  }
  .headerCarrito{
      background-color: #000;
      color: #fff;
      text-align: center;
      padding: 30px 0;
  }
  .carritoItem{
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
      position: relative;
      border-bottom: 1px solid #666;
      padding: 20px;
  }
  .carritoItem img{
      margin-right: 20px;
  }
  .carritoItemTitulo{
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
  }
  .selectorCantidad{
      display: inline-block;
      margin-right: 25px;
  }
  .carritoItemCantidad{
      border: none;
      font-size: 18px;
      background-color: transparent;
      display: inline-block;
      width:30px;
      padding: 5px;
      text-align: center;
  }
  .selectorCantidad i{
      font-size: 18px;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #000;
      cursor: pointer;
  }
  .carritoItemPrecio{
      font-weight: bold;
      display: inline-block;
      font-size: 18px;
      margin-bottom: 5px;
  }
  .btnEliminar{
      position: absolute;
      right: 15px;
      top: 15px;
      color: #000;
      font-size: 20px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #000;
      cursor: pointer;
      display: block;
      background: transparent;
      z-index: 20;
  }
  .btnEliminar i{
      pointer-events: none;
  }
  
  .carritoTotal{
      background-color: #f3f3f3;
      padding: 30px;
  }
  .fila{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
  }
  .btnPagar{
      display: block;
      width: 100%;
      border: none;
      background: #000;
      color: #fff;
      border-radius: 5px;
      font-size: 18px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: .3s;
  }
  .btnPagar:hover{
      scale: 1.05;
  }

footer{
  
  background-color: #000;
  
}

  footer .derechos{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #f3f3f3;
    height: 60px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    align-items: center;
  }

  p span{
    font-size: 20px;
  }


    /* mediaquerys */
    @media screen and (max-width:1300px) {
      .container{
        max-width: 600px;
      }
      .contenedor{
        display:block;

      }
      .contenedorItems{
        width: 100% !important;
        margin-bottom: 50px;
      }

      .carrito{
        width: 70% !important;
        margin: auto !important;
        
      }
      
    }

    @media screen and (max-width:600px) {
      .container{
        flex-direction: column;
        padding: 20px 0 20px 0;
      }
      
      .contenedor{
        display:block;

      }
      .contenedorItems{
        width: 100% !important;
      }

      .carrito{
        width: 100% !important;
        margin: auto;
      }
      
    }